.label {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.label:after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 0;
    top: 0px;
    background-color: #dedede;
    border: solid 2px #666666;
    border-radius: 3px;

}

.label.active:after {
    position: absolute;
    content: url('check.svg');
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: #dedede;
    border: solid 2px #666666;
    border-radius: 3px;
}

.input {
    margin-right: 10px;
    opacity: 0;

}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}