.div,.active_asc,.active_desc{
    cursor: pointer;
}
.div div{
    width: 8px;
    height: 3px;
    background: gray;
    position: relative;
}
.div div:before{
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 3px;
    height: 3px;
    background: gray;
}
.div div:after{
    position: absolute;
    content: '';
    top: 4px;
    left: 0;
    width: 12px;
    height: 3px;
    background: gray;
}

.active_asc div{
    width: 8px;
    height: 3px;
    background: red;
    position: relative;
}
.active_asc div:before{
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 3px;
    height: 3px;
    background: red;
}
.active_asc div:after{
    position: absolute;
    content: '';
    top: 4px;
    left: 0;
    width: 12px;
    height: 3px;
    background: red;
}
.active_desc div{
    width: 8px;
    height: 3px;
    background: red;
    position: relative;
}
.active_desc div:before{
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 12px;
    height: 3px;
    background: red;
}
.active_desc div:after{
    position: absolute;
    content: '';
    top: 4px;
    left: 0;
    width: 3px;
    height: 3px;
    background: red;
}