.div{
    display: grid;
    grid-template-columns: auto auto;

    align-items: center;
}
.p{
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
    margin-right: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
}